.progress-label-left
{
    float: left;
    margin-right: 0.5em;
    line-height: 1em;
}
.progress-label-right
{
    float: right;
    margin-left: 0.3em;
    line-height: 1em;
}
.star-light
{
	color:#e9ecef;
}


.c-comment-box.level2 {
    padding-left: 85px;
;
}

.c-comment-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 17px
;
}

.c-comment-box.level2 .c-comment-box__content {
    padding-left: 16px;
    margin-left: 16px;
    position: relative;
    -webkit-box-shadow: inset 5px 0 0 0 #dee2e6;
    box-shadow: inset 5px 0 0 0 #a6a6a6;
    /* background-color: rgba(0,0,0,0); */
}

.c-comment-box__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.c-comment-name {
    margin-right: 5px;
    font-weight: 500;
    color: #212529;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.c-comment-text {
    color: #444b52;
    font-weight: 400;
    margin-top: 4px
;
}

.review{
    background-color:white;
    padding:20px;
}


.c-comment-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 17px;
}

.c-comment-box__avatar {
    -ms-flex-preferred-size: 70px;
    flex-basis: 70px;
    height: 70px;
    margin-right: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    background: #ced4da;
    color: #fff;
}
.c-comment-box__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.c-comment-name {
    margin-right: 5px;
    font-weight: bold;
    color: #212529;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.c-comment-status {
    margin-top: 4px;
}

.c-comment-name .time {
    font-size: 14px;
    line-height: 14px;
    color: #99a2aa;
    font-weight: 300;
    display: inline-block;
    margin-left: 4px;
}


/*  */

.list-star ul {
    list-style-type:none;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
ol, ul {
    padding-left: 0rem;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}
.c-comment .list-star ul span {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #99a2aa;
    margin-left: 4px;
}

.list-star ul+span {
    font-weight: 300;
    font-size: 14px;
    vertical-align: text-bottom;
}


.viewport--sidenav .viewport__footer, .viewport--sidenav .viewport__header {
    left: 6rem;
}
.viewport__footer {
    position: fixed;
    overflow: hidden;
    height: 2.375rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer-main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 2px;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.3125 rem2.5rem;
    background-color: #fff;
    font-size: .875rem;
    line-height: 1.7;
    padding: 0px 144px 0 219px;
}
.footer-main__link-list {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.footer-main__social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}
.footer-main__copyright {
    margin-right: 0.75rem;
}
.footer-main__link-item {
    display: inline-block;
}
/*  */

._1UYQp {
    border-bottom: 2px
 solid #e5e5e5;
    width: 100%;
}
._1UYQp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 0;
}
._7dkF0 {
    margin-bottom: -2px;
    padding-right: 13px;
    text-align: left;
    width: auto;
}
._7dkF0 h2 {
    font-weight: 500;
    margin-bottom: 0;
}
._26Aq_ {
    border-bottom: none;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}


._26Aq_ {
    border-bottom: 2px solid #e5e5e5;
    color: #afafaf;
    display: inline-block;
    font-size: 16px;
    letter-spacing: .8px;
    padding-bottom: 15px;
    text-transform: uppercase;
    width: 100%;


}
._35ADQ {
    border-bottom: 2px solid #116eee;
    color:#116eee;
}

._26Aq_:active, ._26Aq_:focus, ._26Aq_:hover {
    border-bottom: 2px solid#116eee;
    color: #116eee;
    filter: brightness(1);
    text-decoration: none;
}
._27Sfq {
    float: left;
    margin-top: 20px

}
._3B570, .UI5NM {
    display: inline-block;
}
._1a3Pv {
    float: right;
    margin: 20px 0 0 20px
;
}
._24xio {
    width: 70px
;
}
.mvAh1 {
    color: #afafaf;
    float: right;
    font-weight: 700;
    padding-top: 4px;
    text-align: right;
}

._1CjUZ {
    display: inline-block;
    float: right;
    height: 30px;
    padding-right: 5px;
}
._2Nbkz {
    border-bottom: 2px
 solid #e5e5e5;
    padding: 25px 0 25px 80px;
}
._3ZcIW {
    color: #4b4b4b;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    margin: 5px 0;
}
._2I7YD {
    color: #afafaf;
    margin-top: 5px;
}
._1xBLK {
    margin: 0 5px;
}
._2Nbkz {
    border-bottom: 2px solid #e5e5e5;
        padding: 25px 0 25px 80px;
}
._34uU0 {
    border: 2px
 solid hsla(0,0%,90%,.5);
    border-radius: 200px;
}
._1hNyT {
    bottom: -2px;
    height: 60px;
    left: -2px;
    right: -2px;
    top: -2px;
    width: 60px;
}

._2mNT6 {
    bottom: auto;
    box-shadow: none;
    display: inline-block;
    float: right;
    position: relative;
    right: auto;
}

._2mNT6 {
    border-radius: 100px;
    bottom: 115px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    color: #fff;
    font-size: 30px;
    position: fixed;
    right: 25px;
    z-index: 2;
}
._2pnz9 {
    border-width: 0 0 4px;
    padding: 12px
 15px;
}
.QHkFc {
    line-height: normal;
    text-transform: uppercase;
}
._2NzLI {
    border-radius: 15px
;
    border-style: solid;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .8px;
    text-align: center;
    text-transform: uppercase;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}
._2mNT6 {
    border-radius: 100px;
    bottom: 115px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    color: #fff;
    font-size: 30px;
    position: fixed;
    right: 25px;
    z-index: 2;
}
.waRHZ {
    display: inline-block;
    margin: 0 0 50px;
}
.waRHZ {
    display: none;
    font-size: 24px;
    margin-top: 4px;
}
.B6oqy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._2jJPk {
    float: left;
}
._3B570, .UI5NM {
    display: inline-block;
}

.UI5NM {
    position: relative;
}

._3eQwU h1 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 25px;
}
._3eQwU {
    margin-left: 95px;
}
._3x6h2 {
    margin: 5px 0 20px;
}

._3x6h2 {
    margin: 5px 0;
    min-height: 20px;
}
._2povu {
    font-size: 15px;
    line-height: 27px;
    margin: 0;
}

._2povu {
    font-size: 15px;
    line-height: 22px;
    margin: 10px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.PZMcl {
    border-bottom: 0;
    border-top: 0;
    float: right;
    margin: 0 0 0 40px;
    padding: 0;
    width: 348px;
}
._2VdVL {
    background: #fff;
    border: 2px solid #e5e5e5;
    margin-top: 30px;
    border-radius: 15px;
    display: block;
    margin-bottom: 24px;
    padding: 24px;
    width: 348px;
}

._2VdVL h2 {
    color: #4b4b4b;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
._5DXbf {
    font-size: 17px;
    margin-top: 20px
;
}

._5DXbf h3 {
    margin-bottom: 0;
}
._1y1Vb {
    display: block;
    font-size: 17px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
}
._34sSH {
    color: #afafaf;
}

._2dkQa, ._3N8KI {
    color: #afafaf;
    display: inline-block;
    font-weight: 700;
}
._2dkQa {
    font-size: 16px;
}

._34uU0 {
    width: 80px;
    border: 2px
 solid hsla(0,0%,90%,.5);
    border-radius: 200px;
}
._287pv {
    width: 100%;
}
._3o9OB {
    float: left;
}
.gFN2J {
    font-size: 17px;
    line-height: 24px;
    padding: 15
px
;
}

._1Ch3x {
    min-height: 90
px
;
}
._2yvtl {
    background-color: #f7f7f7;
    border: 2px
 solid #e5e5e5;
    border-radius: 5px
;
    display: block;
    margin: 15px
 0;
    overflow: auto;
    padding: 15px
;
    resize: vertical;
    text-align: left;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    vertical-align: top;
    white-space: pre-wrap;
    width: 100%;
}

._1KvMS {
    margin: 40px
 0 40px
 100px
;
}
.page-wrap--medium {
  max-width: 67.5rem;
}

.page-wrap {
  margin: 0 auto;
  max-width: 80rem;
  padding-left: 2.5rem
;
  padding-right: 2.5rem
;
}

.settings__panel {
  padding: 1.5rem 2.5rem

;


}

.panel-main {
  display: block;
}

.settings__menu {
  border-bottom: 1px solid #dce9fa;


}

.settings__heading {
  font-weight: 800;
  margin-bottom: 1.5rem

;
  word-break: break-all;
  font-size: 1.875rem;
  line-height: 1.5;
}

.tab-menu__tabs {
  display: block;
}


.nav__link--active {
  color: #116eee;
  border-bottom: 0.1875rem solid #116eee;
}
.nav__link--active, .nav__link:hover {
  color: #116eee;
  border-bottom: 0.1875rem solid #116eee;
}


.nav__link {
  position: relative;
  display: inline-block;
  color: #252b2f;
  margin-right: 1.25rem;
  padding-bottom: 0.3125rem;
  border-bottom: 0.1875rem

solid transparent;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.settings__view-container {
  padding-top: 1.875rem

;
}

.settings__title {
  font-weight: 800;
  margin-bottom: 0.625rem
;

  word-break: break-word;
  font-size: 1.5rem;
  line-height: 1.7;
}


.settings__copy {
  color: #666e7e;
  font-weight: 500;
  margin-bottom: 1.875rem

;
}

.settings-account__form {
  margin-bottom: 1.5625rem

;
}

.settings__column {
  width: 48%;
}

.form-group {
  display: block;
  width: 100%;
  margin-bottom: 0.875rem

;
}
.form__label[for] {
  cursor: pointer;
}

.form__label {
  display: block;
  color: #666e7e;
  margin-bottom: 0.375rem

;
  font-size: .875rem;
  line-height: 1.7;
  font-weight: 500;
}
.form__input, .form__select, .form__textarea {
  display: block;
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.375rem;
  border-radius: 0.3125rem;
  border: 1px
solid #a7b0b7;
  color: #252b2f;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
  line-height: 1.2;
}


.settings__cta {
  margin: 0;
}
.btn {
  font-family: inherit;
  font-weight: 500;
}

.btn--s {
  padding: 0.375rem
1.75rem
;
  font-size: .875rem;
}
.btn--primary {
  border: 0.125rem
solid #008a22;
  color: #fff;
  background-color: #008a22;
}
.btn {
  display: inline-block;
  border-radius: 2.815rem;
  margin: 0 0.3125rem
0.3125rem;
  padding: 0.75rem
2.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-appearance: none;
}

.settings__view-container {
  padding-top: 1.875rem

;
}
.avatar-upload__crop, .avatar-upload__no-crop {
  text-align: center;
}

.avatar-upload__dropzone {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 13.75rem;
  height: 13.75rem;
  padding: 1.25rem;
  background-color: #f2f7fd;
  margin: 0 auto 30px
;

  border: 1px

dashed #a7b0b7;
  color: #a7b0b7;
  border-radius: 100%;
}

.avatar-upload__select-cta-label {
  position: relative;
}

.btn {
  font-family: inherit;
  font-weight: 500;
}
.btn--s {
  padding: 0.375
rem
1.75
rem
;
  font-size: .875rem;
}
.btn--default {
  border: 0.125
rem
solid #116eee;
  color: #fff;
  background-color: #116eee;
}
.btn {
  display: inline-block;
  border-radius: 2.815rem;
  margin: 0 0.3125rem 0.3125rem;
  padding: 0.75rem 2.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-appearance: none;
}
.avatar-upload__select-cta {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    z-index: -1;
}

.avatar-upload__current-photo-wrap {
  width: 13.75rem;
  height: 13.75rem;
  margin: 0 auto 30px;
  border-radius: 100%;
  overflow: hidden;
  pointer-events: none;
}

.shimmer {
  background: -webkit-gradient(linear,left top,right top,from(#d6dee6),color-stop(50%,#dce3ea),to(#d6dee6));
  background: linear-gradient(
90deg,#d6dee6 0,#dce3ea 50%,#d6dee6);
  background-size: 50% 100%;
  -webkit-animation-name: shimmerAnimation;
  animation-name: shimmerAnimation;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.avatar-upload__current-photo {
  display: block;
  width: 100%;
}

.panel-empty, .panel-main {
  background-color: #fff;
  border-radius: 0.5rem

;
  padding: 1.875rem

;
  -webkit-box-shadow: 0 0 0.625rem -0.125rem #d6dee6;
  box-shadow: 0 0 0.625rem -0.125rem #d6dee6;
  -webkit-animation: panel-animation .2s;
  animation: panel-animation .2s;
}

header.navbar.pcoded-header.navbar-expand-lg.navbar-light {
  margin-bottom: 25px;
  box-shadow: 0px 0px 4px 0px;
}

/* nguyễn mạnh quân */
.col-md-6{
  margin-bottom: 26px;
}
.col-md-4{
  margin-bottom: 26px;
}
a:hover{
  text-decoration: none;
}
/* slide */
/* 
#carouselExampleIndicators{
  border-radius: 20px;
  overflow: hidden;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(121, 181, 48, 0.3);
		box-shadow: 0 0 0 0 rgba(121, 181, 48, 0.3)
	}
	70% {
		-webkit-box-shadow: 0 0 0 20px rgba(4, 169, 245, 0);
		box-shadow: 0 0 0 20px rgba(4, 169, 245, 0)
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(4, 169, 245, 0);
		box-shadow: 0 0 0 0 rgba(4, 169, 245, 0)
	}
}

@keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(121, 181, 48, 0.3);
		box-shadow: 0 0 0 0 rgba(121, 181, 48, 0.3)
	}
	70% {
		-webkit-box-shadow: 0 0 0 20px rgba(4, 169, 245, 0);
		box-shadow: 0 0 0 20px rgba(4, 169, 245, 0)
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(4, 169, 245, 0);
		box-shadow: 0 0 0 0 rgba(4, 169, 245, 0)
	}
} */

/* header.navbar.pcoded-header.navbar-expand-lg.navbar-light {
  background: white;
  --webkit-box-shadow: 1px 0 20px 0 #3f4d67;
  box-shadow: 0px 0 3px 0 #3f4d67;
}

.collapse.navbar-collapse {
  margin: 0 35px 0 216px;
} */

/* social */
.container_social{
  box-shadow: 0 0 5px #ccc;
  padding: 10px;
  margin: 50px 0;
}
.container_social .wrap_social{
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin: 20px 0;
}
.container_social .wrap_social img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
.container_social .wrap_social .user_info{
  display: flex;
  align-items: center;
  padding: 10px;
}
.container_social .wrap_social .btn a{
  color: #fff;
}
/* nguyễn mạnh quân */
.container-tab-cmt-ask{
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.container-tab-cmt-ask .container-tab-cmt-ask-img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: blanchedalmond;
  margin-right: 10px;
  overflow: hidden;
  
}
.container-tab-cmt-ask-img img{
  width: 100%;
}
.container-tab-cmt-ask .container-tab-cmt-ask-text{
  margin-right: 10px;
  flex: 1;
}
.container-tab-cmt-ask-text input{
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(150, 150, 150);
  background-color: #eff1f3;
}